body {
  font-family: "Roboto Mono", monospace;
  background-color: #282a36;
  color: #f8f8f2;
}

/* Default Layout Formatting for Sections */
.section {
  padding: 5rem 5rem;
}

.headings {
  width: 68.75%;
  margin: 0 auto;
}

.headings sub {
  padding-bottom: 20px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  position: relative;
  padding-left: 60px;
  letter-spacing: 1px;
}

.highlight {
  color: #bd93f9;
}

/* Navbar Layout and Formatting */
.navbar-brand {
  color: #f8f8f2;
}

.navbar-custom {
  background-color: #282a36;
  color: #bd93f9;
}

.navbar {
  background-color: #44475a;
  color: #f8f8f2;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  padding-left: 15%;
  padding-right: 15%;
}

/* Navbar Animations */
.navbar a:hover {
  color: #bd93f9;
}

.hover-animation {
  display: inline-block;
  position: relative;
  color: #f8f8f2;
}

.hover-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  color: #bd93f9;
  background-color: #bd93f9;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.hover-animation:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.custom-toggler {
  border-color: #282a36;
}

/* Hero Section */
#hero {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.hero-spacing {
  margin-bottom: 1.5rem;
}

.center-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  color: #bd93f9;
}

.hero-title2 {
  color: #f8f8f2;
}

.resume-btn {
  background-color: #bd93f9;
  border-radius: 12px;
  width: 7rem;
  margin-bottom: 0.5%;
}

.hero-links {
  display: inline;
}

.hero-links a {
  font-size: 1.5rem;
  padding: 0.5%;
  margin-left: 2rem;
  color: #bd93f9;
}

/* About Section */
.about-title {
  color: #8be9fd;
}

.bio {
  margin: 0 6%;
}

.about-line::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 1px;
  background: #8be9fd;
}

.bio-container {
  margin: 5rem auto;
}

/* Skills Section */
.skills-title {
  color: #50fa7b;
}

.skills-line::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 1px;
  background: #50fa7b;
}

.skill-container {
  margin: 5rem auto;
}
.skill {
  text-align: center;
  padding: 1% 0;
}

/* Projects Section*/
.projects-title {
  color: #f1fa8c;
}

.projects-line::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 1px;
  background: #f1fa8c;
}

.project-container {
  margin: 5rem auto;
}

.project {
  margin: 5rem 0rem;
}

.project-text {
  overflow-wrap: break-word;
}

/* Contact Form and Responsiveness */
.contact-form {
  width: 50%;
  margin: 5rem auto;
}

.contact-title {
  color: #ffb86c;
}

.contact-line::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 1px;
  background: #ffb86c;
}

.contact-row {
  padding: 0.5rem 0rem;
}

.contact-btn {
  background-color: #bd93f9;
  border-radius: 12px;
  width: 7rem;
}

@media (max-width: 990px) {
  .name-row {
    padding: 0.5rem 0rem;
  }
  .email-row {
    padding: 0.5rem 0rem;
  }
}

/* Footer */
.footer {
  /* position: absolute; */
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #44475a;
}

.footer p {
  /* margin-top: 25px; */
  font-size: 16px;
  color: #fff;
}
